@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
html{
    font-family: 'Bree Serif', serif;
}
nav{
    background-color: #6366f1;
    height: 4rem;
    box-shadow: 0px 20px 30px -20px  rgb(38, 57, 77);
}
.input{
    outline: none;
    border: none;
    background-color: rgba(235,235,235);
    height: 2.4rem;
    padding: 1rem;
}
.remove-border{
    border-radius: 0;
}
